<div class="profile-container pt-16 h-full">
    <div class="flex py-8 md:px-16 px-8 justify-center gap-40 items-center">
        <div
            class="transition-all ease-in-out transform hover:scale-105 relative flex before:absolute before:size-full before:bg-white before:opacity-10 backdrop-blur-sm before:rounded-lg">
            <div class="flex flex-col text-white z-10 p-6 gap-4">
                <p class="md:text-5xl text-3xl"> Бартуль Алёна Александровна </p>
                <p class="md:text-xl text-lg text-neutral-400">
                    <tui-icon icon="@tui.pen-tool" />
                    Ведущий арт-дизайнер проекта "The King Choice"
                </p>
                <p class="md:text-xl text-lg text-neutral-400">
                    <tui-icon icon="@tui.palette" />
                    Главный художник "DESMAN GAMES"
                </p>
            </div>
        </div>

        <div class="profile-image lg:flex hidden">
            <img src="/profile-image.jpg" class="size-full object-cover rounded-full" />
        </div>
    </div>
    <div class="flex justify-center text-white animate-bounce">
        <tui-icon icon="@tui.chevrons-down" class="text-5xl cursor-pointer" (click)="scrollDown.emit()" />
    </div>
</div>