<div class="w-full fixed top-0 left-0 z-10">
    <div class="w-full h-14 dark:bg-neutral-800 flex justify-between items-center">
        <div (click)="changePage('home')" class="flex items-center gap-2 cursor-pointer">
            <img src="/mooshroom.svg" class="h-14"/>
            <h1 class="dark:text-slate-300">blabla</h1>
        </div>
        
        <div>
            <button
            (click)="changePage('bio'); scrollToStart()"
            [ngClass]="{'!bg-white !text-neutral-800': selectPage==='bio'}"
            class="nav-button">
                <tui-icon icon="@tui.badge-info" class="text-lg"></tui-icon>
                bio
            </button>
            <button
            (click)="changePage('skills')"
            [ngClass]="{'!bg-white !text-neutral-800': selectPage==='skills'}"
            class="nav-button">
                <tui-icon icon="@tui.graduation-cap" class="text-lg"></tui-icon>
                skills
            </button>
            <button
            (click)="changePage('examples')"
            [ngClass]="{'!bg-white !text-neutral-800': selectPage==='examples'}"
            class="nav-button">
                <tui-icon icon="@tui.image" class="text-lg"></tui-icon>
                examples
            </button>
            <button
            (click)="changePage('contact-me')"
            [ngClass]="{'!bg-white !text-neutral-800': selectPage==='contact-me'}"
            class="nav-button">
                <tui-icon icon="@tui.globe" class="text-lg"></tui-icon>
                contact me
            </button>
        </div>
    </div>
</div>

