<div class="flex size-full items-center justify-start pt-14 pl-14">
    <div class="card bg-neutral-600" (click)="scrollTo.emit(index)">
        
        <div class="flex size-full items-start">
            <div class="flex justify-start w-fit h-full items-center">
                <span class="vertical-text text-start text-5xl ml-6"
                >WABADABALABADUMB</span>
            </div>
            
            <div class="flex gap-4 flex-wrap p-8">
                <tui-chip size="m" iconStart="@tui.sparkles">
                    kjhlkjlkjj
                </tui-chip>
            </div>
        </div>
    </div>
</div>