<div class="initial relative justify-center items-center bg-neutral-900">
    <app-skills-card (scrollTo)="scrollToIndex($event)"
    [index]="0"></app-skills-card>
    <app-skills-card (scrollTo)="scrollToIndex($event)"
        [index]="1"
        [style.transform]="
        currentScrollIndex >= 1 ? 'translate3d(' + -1 * 90 + 'dvw, 0, 0)' : ''
        "
        class="left-[100dvw] z-10"
    ></app-skills-card>
    <app-skills-card (scrollTo)="scrollToIndex($event)"
    [index]="2"
        [style.transform]="'translate3d(' + -currentScrollIndex * 90 + 'dvw, 0, 0)'"
        class="left-[200dvw] z-20"
    ></app-skills-card>
</div>

<!-- TODO: переделать на for -->
<div
    waIntersectionObserver
    #block
    waIntersectionThreshold="0.5"
    class="screen"
    (waIntersectionObservee)="onIntersection($event, 0)"
></div>
<div
    waIntersectionObserver
    #block
    waIntersectionThreshold="0.5"
    class="screen"
    (waIntersectionObservee)="onIntersection($event, 1)"
></div>
<div
    waIntersectionObserver
    #block
    waIntersectionThreshold="0.5"
    class="screen"
    (waIntersectionObservee)="onIntersection($event, 2)"
></div>
