<tui-accordion-item class="container">
    {{data.educationLevel}}
    <ng-template tuiAccordionItemContent>
        <div class="grid grid-cols-2 text-sm h-[250px]">
            <p>Учебное заведение: </p>
            <p>{{data.institution}}</p>
            <p>Напрвавление подготовки: </p>
            <p>{{data.direction}}</p>
            <p>Профиль: </p>
            <p>{{data.profile}}</p>
            <p>Год выпуска: </p>
            <p>{{data.yearGraduate}}</p>
        </div>
        
    </ng-template>
</tui-accordion-item>
